# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\PC001\Documents\ucll\JAAR 3 SEMESTER 1\WEB 2\WEBSITE\BasicHtml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
